---
const personalImageAlt = "Felipe Peñaloza";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-blue-200 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Felipe Peñaloza pero mis amigos me llaman Felo. Desarrollador Web
      como <strong>Front-End Developer</strong> con tecnologías <strong
        >Javascript, React Js y Astro</strong
      >. Profesional con experiencia en metodología ágil Scrum, analítico,
      investigativo, trabajo en equipo y enfoque en resolución de problemas.
    </p>
    <p>
      Algunos de mis éxitos incluyen <strong
        >Reconocimiento en desarrollo e implementación de experiencia de
        usuario, procesos de pago, tracking analytics, implementación de voucher</strong
      >.
    </p>

    <p>
      Interés en <strong
        >desarrollo de start-ups, proyectos de videojuegos, empresas
        multinacionales.
      </strong>
    </p>
  </div>
</article>
