---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/sections/Experience.astro";
import AboutMe from "../components/sections/AboutMe.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import BriefCase from "../icons/BriefCase.astro";
import Code from "../icons/Code.astro";
import Skillcode from "../icons/skillcode.astro";
import Projects from "../components/sections/Projects.astro";
import ProfileCheck from "../icons/ProfileCheck.astro";
import Hero from "../components/sections/Hero.astro";
import Skills from "../components/sections/Skills.astro";
---

<Layout
  title="Portfolio Felipe Peñaloza - Front-End Developer"
  description="Desarrollador Front-End con +5 años de experiencia en Javascript, React Js, Astro, Boostrap, Bulma CSS, Tailwind. Especializado en Responsive Web Design, Implementaciones y UX Experiencie."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <BriefCase class="size-8" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <TitleSection>
          <Code class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer>
        <TitleSection>
          <Skillcode class="size-7" />
          Skills
        </TitleSection>
        <Skills />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
